body {
    background-color: #2d2929;
    color: #f5f2ce;
    font-family: Raleway;
    font-size: 14pt;
}

h1 {
    font-family: Lato;
    font-size: 64pt;
}

h2 {
    font-family: Lato;
    font-size: 48pt;
}

p {
    font-family: Raleway;
}

.landing-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}

.ico-nav {
    margin-top: 30px;
    justify-content: right;
}

.website-nav {
    justify-content: center;
}

.nav-item {
    margin-left: 20px;
}

.nav-item > .nav-link { /* Removes default formatting from nav-links */
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #a07178
}
.nav-link:hover {
    color: #776274
}

a {
    color: #a07178
}
a:hover {
    color: #776274
}